<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DRx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D1B86EB1CD0CFC000AA9D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D1B86FF1CD0CFC000AA9D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D1B870A1CD0CFC000AA9D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
